::-webkit-scrollbar{
	width: 0px;}
}

tbody{
	color:#007bff;
}
/*-------------------------------------------------------------------------------------*/
/*                                        HEADER                                       */
/*-------------------------------------------------------------------------------------*/
.dropdown-toggle::after {
    display: inline-block;
    color: #007bff;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.nav{
	text-align: center;
	align-items: center;
}

.astirimg{
	width:180px; height:50px; text-align:center ;
}

.etlaboraimg{
	width:200px; height:100px; text-align:right;
}

.cvoci{
	margin: auto;
	text-align: center;
	margin-left: 29.4%;
}

.icon{
	color: #007bff;
}

.dd{
	color: #007bff;
}

.dd:hover{
	color: #0057b3;
}

/*-------------------------------------------------------------------------------------*/
/*                                       HOMEPAGE                                      */
/*-------------------------------------------------------------------------------------*/
.caro{
	margin: auto;
	width:700px; height:500px;
}

.carousello{
	margin-bottom: 5% !important;
}

.newsImage{width: 100%}

#floatDx{float: right}

.news{
	margin:auto;
	margin-top: 5%;
	width: 95%; 
}

/*-------------------------------------------------------------------------------------*/
/*                                         LOGIN                                       */
/*-------------------------------------------------------------------------------------*/
.log{
	margin: auto;
	margin-left: 30%;
	margin-right: 30%;
}

.imgTogglePass{
	float: right;
    width: 6%;
    cursor: pointer;
}

#imgEye{
	width: 80% !important;
    margin-top: 10.5%;
    filter: opacity(50%);
}


/*-------------------------------------------------------------------------------------*/
/*                                         GAMES                                       */
/*-------------------------------------------------------------------------------------*/
.games{
	float: both;
}

.card{
	float: left;
	margin-left: 11.25%;
	margin-top: 1%; 
}

.btn:hover{
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*-------------------------------------------------------------------------------------*/
/*                                      HOME + RANK                                    */
/*-------------------------------------------------------------------------------------*/
.tab{
	margin-top: 5% !important;
}

/*-------------------------------------------------------------------------------------*/
/*                                       REGISTRATI                                    */
/*-------------------------------------------------------------------------------------*/
.sub{
	margin: auto;
	margin-left: 30%;
	margin-right: 30%;
}

/*-------------------------------------------------------------------------------------*/
/*                                         FOOTER                                      */
/*-------------------------------------------------------------------------------------*/
.foot{
	color: #007bff;
}

.med{
	color: #007bff;
}

